  	<!-- Footer -->
  	<div class="footer-container">
  		
  		<div class="hakkinda-sayfasi">
  			<h1>Hakkında</h1>
  			<ul>
  				<li><a href="/">Anasayfa</a></li>
  				<li><a href="/giris-yap">Giriş Yap</a></li>
  				<li><a href="">Kayıt Ol</a></li>
  				<li><a href="">Hakkında</a></li>
  			</ul>
  		</div>

  		<div class="hesaplar-sayfasi">
  			<h1>Hesaplarım</h1>
  			<ul>
  				<li><a href="https://www.instagram.com/ates.emircn/"><ion-icon class="ig-logo" name="logo-instagram"></ion-icon>İnstagram</a></li>
  			</ul>
  		</div>

  	</div>