<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin Panel</title>
	<link rel="stylesheet" href="/stylesheets/admin.css">
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>

	<div class="navbar-container">
  		<div class="navbar">
  			<div class="baslik">
  				<div class="baslik-yazisi">EmSa</div>
  			</div>
  			<div class="menu-container">
  				<div class="menu"><a href="/emsawithadmin/blog-ekle">Blog Ekle</a></div>
  				<div class="menu"><a href="/emsawithadmin/blog-sil">Blog Sil</a></div>
  			</div>
  		</div>
  	</div>
	
	<div class="orta-resim">
  		<div class="resim-container">
  			<div class="resim-baslik">Admin Panel</div>
  			<div class="resim-yazi">Ademin Panele Hoşgeldiniz!</div>
  			<div class="resim-yazi">Naber Admin? Umarım Bugün Daha İyisindir :)</div>
  		</div>
  	</div>

</body>
</html>
