<% include ./partials/header %>

	<link rel="stylesheet" href="/stylesheets/blog-sil.css">

	<div class="blog-sil-container">
		<form action="/emsawithadmin/blog-sil" method="post" class="blog-sil">
			
			<span>Silmek İstediğiniz Formun ID'si</span><input type="text" autocomplete="off" placeholder="Silmek İstediğiniz Blogun ID'sini Giriniz" name="blog_sil">
			<button type="submit">Gönder</button>

		</form>
	</div>

<% include ./partials/footer %>